<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    <li class="nav-cheat-sheets" role="menuitem"><a href="{{site.baseurl}}cheat_sheets/">Dev Cheat Sheets</a></li>
    <li class="research" role="menuitem"><a href="{{site.baseurl}}research/">Research</a></li>
    <li class="nav-code" role="menuitem"><a href="{{site.baseurl}}tag/code/">Code</a></li>
    <li class="nav-startup" role="menuitem"><a href="{{site.baseurl}}tag/startup/">Startup</a></li>
</ul>
